* {
    padding: 0;
    margin: 0;
    font-family: 'Space mono';
}
body {
    background-color: rgb(150, 227, 227);
}
.tip-enter-slide {
    margin: 24px;
}

.bill-section {
    margin-bottom: 18px;
}
.tip-enter-section {
    margin-bottom: 12px;
}
.bill-text, .select-tip-text, .people-text {
    font-size: 10px;
    font-weight: bold;
    color: rgb(85, 85, 85);
    margin-bottom: 2px;
}
.bill, .people-num {
    width: 210px;
    border-radius: 2px;
    border: none;
    height: 24px;
    direction: rtl;
    cursor: pointer;
    caret-color: transparent;
    background-color: aliceblue;
    box-shadow: 1px 1px 3px gray;
    padding-right : 8px;
}


.calc-info {
    background-color: white;
    display: grid;
    grid-template-columns: 260px 280px;
    width: 550px;
    border-radius: 10px;
    margin: 200px auto;
}
.tip-amount, .total-amount {
    display: grid;
    grid-template-columns: 110px 10px;
    margin: 15px;
}
.billing-slide {
    background-color: rgb(10, 72, 72);
    border-radius: 10px;
    margin: 24px;
}
.total-amount {
    margin-bottom: 20px;
}
.reset {
    width: 190px;
    margin-left: 20px;
    margin-top: 32px;
    border-radius: 2px;
    border: none;
    height: 24px;
    font-weight: 700;
    font-size:12px;
    cursor: pointer;
}
.reset:hover {
    background-color: rgb(3, 166, 166);
}
.perc, .perc-custom {
    width: 64px;
    margin-bottom: 8px;
    border-radius: 4px;
    border: none;
    height: 24px;
    background-color: rgb(10, 72, 72);
    color: white;
    cursor: pointer;
}
.perc:hover {
    background-color: rgb(3, 166, 166);
}
.perc.active {
    background-color: rgb(3, 166, 166);
}
.perc-custom {
    background-color: white;
    color: black;
}
.bill::placeholder, .people-num::placeholder {
    text-align: right;
}
.tip-amount, .total-amount {
    color: white;
    font-size: 10px;
    margin-top: 30px;
}
.total-amount {
    margin-top: -2px;
}
.person {
    font-size: 7px;
    color: rgb(177, 177, 177);
}
.amount {
    font-size: 20px;
    color: rgb(3, 166, 166);
    font-weight: bold;
}
.input-holder i {
    position: absolute;
    opacity: 50%;
    cursor: pointer;

}
.icon {
    margin: 5px;
    min-width: 40px;
}
.perc-custom {
    position: relative;
    background-color: white;
    color: black;
}

.perc-custom input {
    width: 100%;
    border: none;
    background: none;
    color: black;
    font-size: 12px;
    text-align: center;
    appearance: none;
    outline: none;
    padding: 0;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
    cursor: text;
}

